body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffffed;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 19px;
}
h4 { 
    margin-top: 0; 
}
button {
    padding: 13px 22px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color: #bbb;
}
details {
    padding: 12px 20px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
  }
/* for selecting the label buttons */
.special {
    outline: none; 
    border: 3px solid #3c87ff;
    color: #ffffff;
}
.hidden {
    display: none;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}
.category {
    border-radius: 10px;
    padding: 15px;
}
.number-line {
    background: #eee;
    border-radius: 5px;
    height: 10px;
    width: 100%;
    position: relative;
    margin-top: 4px;
}
.number-line-fill {
    /* background: #4CAF50; */
    height: 100%;
    border-radius: 5px;
}
.psych { 
    background-color: #f8d7da; 
}
.phys { 
    background-color: #ffe5cd; 
}
.acad { 
    background-color: #d4edda; 
}
.social { 
    background-color: #d1ecf1; 
}
.env { 
    background-color: #fff4d0; 
}
.question {
    text-align: center;
    margin-top: 30px;
}
.next_q{
    display: flex;
    justify-content: right;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Add dots under the hoverable text */
    /* cursor: pointer; */
}
/* Tooltip text */
.tooltiptext {
    visibility: hidden; /* Hidden by default */
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
}
/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


#intro, #ending {
    /* text-align: center; */
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px 20px;
    background-color: #f4f4f4;
    border-radius: 7px;
}
#intro p{
    font-size: medium;
}
#intro button {
    background-color: #4CAF50;
    color: white;
}
#next_button {
    padding: 12px 20px;
    font-size: 15px;
    margin: 20px;
    background-color: #3c87ff;
    color: #ffffff;
    margin: 0px;
}
#next_button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}